@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Source Sans Pro', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: #555;
  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrap {
  max-width: 350px;
  margin: auto;
  padding: 20px;
}

[v-cloak] {
  display: none;
}
h1 {
  text-align: center;
}