.is-loading {
  position: relative;
  height: 50px;
  width: 100%;
  color: transparent;
  cursor: default;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    width: 3em;
    height: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
    border-radius: 50%;
    box-sizing: border-box;
  }
  &::after {
    background: linear-gradient(-45deg, #355c7d, #6c5b7b, #c06c84);
  }
  &::before {
    font-size: 10px;
    background-color: whitesmoke;
    z-index: 1;
  }
  &::after {
    clip: rect(10px,auto,auto,auto);
    animation: loading .7s linear infinite;
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}